.header-md:after {
    height: 0 !important;
}

ion-header {
    position: absolute;
    top: 0;
}

ion-content {
    transform: translateZ(0);
}

.structure {
    height: fit-content;
    background: aliceblue;
    .mix {
        position: relative; 
        overflow-x: scroll;
        overflow-y: hidden;
        height: 160px;
    }
    canvas {
        position: absolute;
        top: 0;
        left: 0;
    }
    .btnBox {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: fit-content;
        height: 100%;
        overflow: auto;
    }
}

.pic {
    background: url(../../assets/img/bg/markdown.png);
    background-size: cover;
    height: 13rem;
    position: relative;
}