<ion-app>
    <ion-menu side="start" type="push">
        <ion-content>
            <my-user [blur]="blur" [bg]="bg" [avatar]="avatar" [name]="userName" sign="sign"></my-user>
            <ion-list>
                <ion-list-header>
                    菜单
                </ion-list-header>
                <ion-item *ngFor="let item of items" (click)="moveTo(item.link)" button="true" color="light">
                    <ion-icon [name]="item.icon" slot="start" color="iceblue"></ion-icon>{{item.name}}
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
</ion-app>