<ion-header>

    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button>
            </ion-menu-button>
        </ion-buttons>

        <ion-title>Book</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item button="true" *ngFor="let book of bookList" (click)="moveTo('/markdown',book)">
            <ion-avatar slot="start">
                <img [src]="book.avatar|url:'avatar'">
            </ion-avatar>
            <ion-label>
                <h3>Form@{{book.author}}</h3>
                <h2>{{book.title}}</h2>
                <p>{{book.content|markdown}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>